In [7]:
listdata = [9.96, 1.27, 5.07, 6.45, 8.38, 9.29, 4.93, 7.73, 3.71, 0.93]
maxval = max(listdata)
minval = min(listdata)
print(maxval)
print(minval)

txt = 'Alotofthingsoccureachrday'
maxval = max(txt)
minval = min(txt)
print(maxval)
print(minval)

maxval = max(2+3, 2*3, 2**3, 3**2)
minval = min('abz', 'al2')
print(maxval)
print(minval)

9.96
0.93
y
A
9
abz

In [8]:
a = 107
b = a & 0x0f
print(b)

11

In [10]:
a = 107
b = (a>>4) & 0x0f
print(b)

6

In [13]:
txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라.'

print(txt1[5])
print(txt2[-2])

e
라

In [14]:
print(txt1[3:7]) # 3부터 7 미만까지 (뒤 인덱스 포함안됨)
print(txt1[:6])
print(txt2[-4:])

ale
A tale
가리라.

In [20]:
for i in range(len(txt1)):
    print(txt1[:i+1])

A
A
A t
A ta
A tal
A tale
A tale
A tale t
A tale th
A tale tha
A tale that
A tale that
A tale that w
A tale that wa
A tale that was
A tale that was
A tale that was n
A tale that was no
A tale that was not
A tale that was not
A tale that was not r
A tale that was not ri
A tale that was not rig
A tale that was not righ
A tale that was not right

In [30]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2] # step 2로 슬라이싱
print(ret)
print(txt[1::2])

abcdefghijk
ABCDEFGHIJK
KJIHGFEDCBA

In [33]:
txt2 = 'abcdefghijk'
ret = txt2[::-1]
print(ret)
print(txt[::-2])
print(txt[-2::-2])

kjihgfedcba
KJIHGFEDCBA
kjihgfedcba

In [36]:
filename = input('저장할 파일 이름을 입력하세요:')
filename = filename + '.jpg'
display_msg = '당신이 저장한 파일은 %s입니다' %filename
print(display_msg)

저장할 파일 이름을 입력하세요:hello
당신이 저장한 파일은 hello.jpg입니다

In [40]:
msg1 = 'Let\'s'
msg2 = 'gogogo'
display_msg = msg1 + ' ' + msg2*3 + '~!'
print(display_msg)

Let's gogogogogogogogogo~!

In [43]:
msg = input('임의의 문장을 입력하세요: ')
if 'a' in msg:
    print("> 이 문장에는 'a'가 포함되어 있습니다")
else:
    print("> 이 문장에는 'a'가 포함되어 있지 않습니다")

임의의 문장을 입력하세요: hello hyemin
> 이 문장에는 'a'가 포함되어 있지 않습니다

In [47]:
msg = input('임의의 문장을 입력하세요: ')
if 'is' in msg:
    print("> 이 문장에는 'is'가 포함되어 있습니다")
else:
    print("> 이 문장에는 'is'가 포함되어 있지 않습니다")

임의의 문장을 입력하세요: what if
> 이 문장에는 'is'가 포함되어 있지 않습니다

In [50]:
msg = input('임의의 문장을 입력하세요: ')
print('당신이 입력한 문장의 길이는 %d 입니다' %len(msg))
print('당신이 입력한 문장의 byte크기는 %d 입니다' %len(msg.encode()))

임의의 문장을 입력하세요: 안녕하세요 여러분
당신이 입력한 문장의 길이는 9 입니다
당신이 입력한 문장의 byte크기는 25 입니다

In [54]:
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
txt_array = (txt1, txt2, txt3, txt4)
for txt in txt_array:
    print(txt.isalpha())

# 공백문자가 들어가면 alpha 취급 안해줌. 숫자 들어가도 alpha 취급 안해줌

True
True
False
False

In [56]:
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'
txt4 = '45 67 12'
txt_array = (txt1, txt2, txt3, txt4)
for txt in txt_array:
    print(txt.isdigit())

# 공백문자가 들어가면 digit 취급 안해줌. 기호/문자 들어가도 alpha 취급 안해줌

False
False
True
False

In [58]:
txt1 = '안녕하세요?'
txt2 = '1.Title-제목을 넣으세요'
txt3 = '3피오R2D2'
txt4 = '공백 이번에도 안해줌'
txt_array = (txt1, txt2, txt3, txt4)
for txt in txt_array:
    print(txt.isalnum())

# 공백문자가 들어가면 digit 취급 안해줌. 기호/문자 들어가도 alpha 취급 안해줌

False
False
True
False

In [59]:
txt = 'A lot of Things occur each day.'
ret1 = txt.upper()
ret2 = txt.lower()
print(ret1)
print(ret2)

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.

In [64]:
txt = ' 양쪽에 공백이 있는 문자열입니다. '
print("lstrip : <%s>" %txt.lstrip())
print("rstrip : <%s>" %txt.rstrip())
print("strip : <%s>" %txt.strip())

lstrip : <양쪽에 공백이 있는 문자열입니다. >
rstrip : < 양쪽에 공백이 있는 문자열입니다.>
strip : <양쪽에 공백이 있는 문자열입니다.>

In [68]:
numstr = input('숫자를 입력하세요: ')
try:
    num = int(numstr)
    print('당신이 입력한 숫자는 정수 <%d>입니다.' %num)
except:
    try:
        num = float(numstr)
        print('당신이 입력한 숫자는 실수 <%d>입니다.' %num)
    except:
        print('+++ 숫자를 입력하세요~ +++')

숫자를 입력하세요: 13013
당신이 입력한 숫자는 정수 <13013>입니다.

In [70]:
num1 = 1234
num2 = 3.14

print("num1을 문자열로 변환한 값은 '%s'입니다." %str(num1))
print("num2을 문자열로 변환한 값은 '%s'입니다." %str(num2))

num1을 문자열로 변환한 값은 '1234'입니다.
num2을 문자열로 변환한 값은 '3.14'입니다.

In [71]:
txt = 'A lot of things occur each day, every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)
print(word_count2)
print(word_count3)

3
2
8

In [72]:
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day', 30)

print(offset1)
print(offset2)
print(offset3)

22
27
38

In [81]:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split("/")
print(ret1)

ret2 = log.split()  # 인자가 없으면 디폴트로 공백을 구분자로 문자열 분리
print(ret2)
for data in ret2:
    d1, d2 = data.split(':')
    print("%s-> %s" %(d1, d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
['name:홍길동', 'age:17', 'sex:남자', 'nation:조선']
name-> 홍길동
age-> 17
sex-> 남자
nation-> 조선

In [83]:
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
band= ';'
log = band.join(loglist)
print(log)

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [87]:
txt = 'My password is 1234'
ret1 = txt.replace('1', '0')
ret2 = txt.replace('1', 'pyhthon')
print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일', '항상')
ret4 = ret3.replace('일', '사건')
print(ret3)
print(ret4)

My password is 0234
My password is pyhthon234
항상 많은 일들이 일어납니다.
항상 많은 사건들이 사건어납니다.

In [89]:
u_txt = 'I Love python'
b_txt = u_txt.encode() # 유니코드 문자열을 바이트 객체로 변경 
print(u_txt)
print(b_txt)

ret1 = 'I' == u_txt[0]
ret2 = 'I' == b_txt[0]
print(ret1)
print(ret2)

I Love python
b'I Love python'
True
False

In [91]:
b_txt = b'A lot of things occur each day.'
u_txt = b_txt.decode()
print(u_txt)

A lot of things occur each day.

In [94]:
strdata = input('정렬할 문자열을 입력하세요:')
ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse=True)
print(ret1)
print(ret2)

ret1 = "!".join(ret1)
ret2 = "".join(ret2)
print("오름차순으로 정렬된 문자열은 <%s>입니다" %ret1)
print("내림차순으로 정렬된 문자열은 <%s>입니다" %ret2)

#join method
#{delimeter}.join({join 할 대상})
#일반적인 join 과 argument 가 다름에 주의한다.

정렬할 문자열을 입력하세요:13123
['1', '1', '2', '3', '3']
['3', '3', '2', '1', '1']
오름차순으로 정렬된 문자열은 <1!1!2!3!3>입니다
내림차순으로 정렬된 문자열은 <33211>입니다

In [97]:
range1 = range(10)
range2 = range(10, 20)
range3 = range(10, 20, 2)
print(list(range1))
print(list(range2))
print(list(range3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 12, 14, 16, 18]

In [98]:
listdata = [1,2,'a','b','c',[4,5,6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]
print(val1)
print(val2)
print(val3)

2
b
5

In [101]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
planet = '지구'
pos = solarsys.index(planet)
print("%s는 태양계에서 %d번째에 위치하고 있습니다" %(planet, pos))
pos = solarsys.index(planet, 5)
print("index 메소드의 두번쨰 인자가 존재하면 해당 위치에서부터 검색하여 인덱스를 반환한다: %d" %pos)

지구는 태양계에서 3번째에 위치하고 있습니다
index 메소드의 두번쨰 인자가 존재하면 해당 위치에서부터 검색하여 인덱스를 반환한다: 9

In [103]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
planet = '화성'
pos = solarsys.index(planet)
solarsys[pos] = 'MARS'
print(solarsys)

['태양', '수성', '금성', '지구', 'MARS', '목성', '토성', '천왕성', '해왕성']

In [104]:
print("태양계의 암석형 행성 : ", end='');print(solarsys[1:4])
print("태양계의 가스형 행성 : ", end='');print(solarsys[4:])

태양계의 암석형 행성 : ['수성', '금성', '지구']
태양계의 가스형 행성 : ['MARS', '목성', '토성', '천왕성', '해왕성']

In [107]:
listdata = list(range(1,21))
evenlist = listdata[1::2]
print(evenlist)
oddlist = listdata[::2]
print(oddlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [108]:
listdata = list(range(5))
listdata.reverse()
print(listdata)

[4, 3, 2, 1, 0]

In [116]:
listdata2 = reversed(listdata) #iterator 객체 반환

print("원본 리스트 : ", end="");print(listdata)
print("역순 리스트 : ", end="");print(list(listdata2))

원본 리스트 : [4, 3, 2, 1, 0]
역순 리스트 : [0, 1, 2, 3, 4]

In [117]:
listdata1 = ['a', 'b', 'c', 'd', 'e']
listdata2 = ['f', 'g', 'h', 'i', 'j']
listdata3 = listdata1 + listdata2
listdata4 = listdata2 + listdata1
print(listdata3)
print(listdata4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

In [119]:
listdata = list(range(3))
ret = listdata*3
print(ret)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [121]:
listdata = []
for i in range(3):
    txt = input('리스트에 추가할 값을 입력하세요[%d/3]:' %(i+1))
    listdata.append(txt)

print(listdata)

리스트에 추가할 값을 입력하세요[1/3]:10
리스트에 추가할 값을 입력하세요[2/3]:20
리스트에 추가할 값을 입력하세요[3/3]:13
['10', '20', '13']

In [122]:
pos = solarsys.index('목성')
solarsys.insert(pos, '소행성')
print(solarsys)

['태양', '수성', '금성', '지구', 'MARS', '소행성', '목성', '토성', '천왕성', '해왕성']

In [129]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
del solarsys[0]
print(solarsys)
del solarsys[-5]
print(solarsys)

['수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [130]:
solarsys.remove('해왕성')
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성']

In [131]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
del solarsys[1:3]
print(solarsys)

['태양', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [133]:
listdata = [2,2,1,3,8,5,7,6,3,6,2,3,9,4,4]
print(len(listdata))

15

In [135]:
print(listdata.count(2))
print(listdata.count(4))

3
2

In [146]:
try :
    del listdata
    print(listdata)
except Exception as e:
    print(e)

name 'listdata' is not defined