In [1]:
2 + 3

5

In [2]:
3+3

6

In [3]:
_myname='samsjang'
print(_myname)

samsjang

In [28]:
init_data =1
j= 10
float_data = 3.14
complex_data = 1+5*j
str_data2 = "반갑습니다."
list_data = [1,2,3]
tuple_data = (1,2,3)
dict_data = {0:'False',1:'True'}


print(init_data, float_data, complex_data, str_data2, list_data, tuple_data, dict_data)

1 3.14 51 반갑습니다. [1, 2, 3] (1, 2, 3) {0: 'False', 1: 'True'}

In [16]:
listdata = ['a','b','c']
if 'a' in listdata:
    print("'a'가 리스트데이터에 있습니다.")
    print(listdata)
else:
    print("'a'가 리스트 존재하지 않습니다. ")

'a'가 리스트데이터에 있습니다.
['a', 'b', 'c']

In [17]:
x = 1
y = 2
if x>=y :
    print("x가 더커")
else:
    print("y가 더")

y가 더

In [18]:
x = 1
y = 2
x >= y ? x : y

SyntaxError: invalid syntax (<ipython-input-18-826ca494bb5a>, line 3)

In [19]:
x = 1
y  = 2

if x > y :
    print("x가 더커 ")
elif x < y :
    print("y가 더커")
else:
    print("같아")

y가 더커

In [26]:
scope = ["efefefef",2,3.232323,"%20",-1]
for x in scope:
    print(x)

efefefef
2
3.232323
%20
-1

In [30]:
for key in dict_data :
    print(dict_data.get(key))

False
True

In [34]:
for (i,key) in enumerate(dict_data):
    print(str(i) + dict_data.get(key))

0False
1True

In [36]:
scope = [1,2,3]
for x in scope:
    print(x)
else:
    print("perfect")

1
2
3
perfect

In [39]:
val =None

In [43]:
print(bin(2))

0b10

In [44]:
f1 = 1.0
f2 = 3.14
f3 = 1.56e3
f4 = -0.7e-4
print(f1)
print(f2)
print(f3)
print(f4)

1.0
3.14
1560.0
-7e-05

In [45]:
print(max(f4))

TypeError: 'float' object is not iterable

In [46]:
print(math(f4))

NameError: name 'math' is not defined

In [51]:
import math

0.9999300024499428

In [54]:
a =1
b =2 
ret = a +b
print(ret,end='')
print("입니다")

3입니다

In [59]:
a = 2
b = 4
ret1 = a+b
ret2 = a-b
ret3 = a*b
ret4 = a/b
ret5 = a**b
ret6 = a*a*b/a
ret7 = (a+b)*(a-b)
ret8 = a*b*a

print(ret1)

6

In [60]:
a = 0
a += 1
a -= 5
a *= 2
a/= 4

print(a)

-2.0

In [62]:
a = True
b = False
print(a ==1)
print(b != 0)

True
False

In [67]:
x =1;y=2
str = 'abc';str2='python'
print(x==y)
print(x!=y)
print(str2 == 'python')
print(str < str2)

False
True
True
True

In [69]:
bool1 =True; bool2 = False;bool3= True; bool4=False
print(bool1 and bool2)
print(bool2 and bool3)
print(bool1 or bool2)

False
False
True

In [76]:
bit1=0x61
bit2=0x62
print(bin(bit1), bin(bit2))
print(bit1, bit2)
print(bit1 * bit2)

print(bin(bit1)+bin(bit2))

0b1100001 0b1100010
97 98
9506
0b11000010b1100010

In [80]:
strdata = 'abcde'
listdata = [1,[2,3],'안녕']
tupleedata = (100,200,300)

print(strdata)
print(listdata)
print(tupleedata)

abcde
[1, [2, 3], '안녕']
(100, 200, 300)

In [91]:
strdata = 'Time IS money!'
listdata = [1,2,[1,2,3]]
print(strdata[1:5])
print(strdata[:7])
print(strdata[9:])
print(strdata[:-3])
print(strdata[-3:])
print(strdata[:])
print(strdata)
print(strdata[:2])

ime
Time IS
oney!
Time IS mon
ey!
Time IS money!
Time IS money!
Ti

In [99]:
strdata1 = 'i love python'
strdata2 = '나는 파이썬을 사랑합니다'

listdata = ['a','b','c',strdata1,strdata2]

print(len(strdata1))
print(len(strdata2))
print(len(listdata))
print(len(listdata[3]))

13
13
5
13

In [101]:
listdata = [1,2,3,4]
ret1 = 5 in listdata
ret2 = 4 in listdata
print(ret1);print(ret2)
strdata = 'abcde'
ret3 = 'c' in strdata
ret4 = '1'in strdata
print(ret3);print(ret4)

False
True
True
False