In [3]:
listdata = [9.96,5.07,6.45,8.38,9.29,4.93,7.73,3.71,0.93]
maxval = max(listdata)
minval = min(listdata)
print(maxval)
print(minval)

txt = 'ALOTOFHINGSOUCCUreahday'
maxval = max(txt)
minval = min(txt)

print(maxval)
print(minval)

maxval = max(2+3,2*3,2**3,3**2)
minval = min('abz','al2')
print(maxval)
print(minval)

9.96
0.93
y
A
9
abz

In [4]:
a = 107
b = a & 0x0f
print(b)

11

In [5]:
a = 107
b = (a>>4)&0x0f
print(b)

6

In [12]:
txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라.'
print(txt1[5])
print(txt2[-2])

e
라

In [7]:
print(txt1[3:7])
print(txt1[:6])
print(txt2[-4:])

ale
A tale
가리라.

In [14]:
txt = 'python'
for i in range(len(txt)):
    print(txt[:i+1])

p
py
pyt
pyth
pytho
python

In [17]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2]
print(ret)

aBdEgHjK

In [20]:
ret = txt[1::2]
print(ret)

ABCDEFGHIJK

In [21]:
txt = 'abcdefhjijk'
ret = txt[::-1]
print(ret)

kjijhfedcba

In [22]:
ret = txt[::-2]
print(ret)

kiheca

In [24]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::-2]
print(ret)

KJIHGFEDCBA

In [26]:
ret = txt[-2::-2]
print(ret)

kjihgfedcba

In [29]:
filename = input("저장할 파일이름을 입력하세요")
filename = filename + '.jpg'
display_msg = '당신이 저장한 파일은<'+filename+'> 입니다.'
print(display_msg)

저장할 파일이름을 입력하세요hi
당신이 저장한 파일은<hi.jpg> 입니다.

In [33]:
msg1 = '여러분'
msg2 = '파이팅'
display_msg = msg1*2 + ',' + msg2*3 + '~!'
print(display_msg)

여러분여러분,파이팅파이팅파이팅~!

In [38]:
msg = input('임의의 문장을 입력하세요.')
if 'a' in msg:
    print('당신이 입력한 문장에는  a가 있습니다.')
else:
    print('당신이 입력한 문장에는 a가 없습니다.')

임의의 문장을 입력하세요.bb
당신이 입력한 문장에는 a가 없습니다.

In [40]:
msg = input('임의의 문장을 입력하세요')

if 'is' in msg:
    print('당신이 입력한 문장에는 is가 있습니다.')
else:
    print('당신이 입력한 문장에는 is가 없습니다.')

임의의 문장을 입력하세요hello
다신이 입력한 문장에는 is가 없습니다.

In [45]:
msg = input('임의의 문장을 입력하세요')
msglen = len(msg)
print("당신이 입력한 문장의 길이는 <%d>입니다."%msglen)

임의의 문장을 입력하세요안녕
당신이 입력한 문장의 길이는 <2>입니다.

In [46]:
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()

print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
False

In [50]:
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'
ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()
print(ret1)
print(ret2)
print(ret3)

False
False
True

In [53]:
txt1 = '안녕하세요?'
txt2 = '1. Title -  제목을 넣으세요'
txt3 = '3피오 R2D2'
txt4 = '3피오'
ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()
ret4 = txt4.isalnum()

print(ret1)
print(ret2)
print(ret3)
print(ret4)

False
False
False
True

In [54]:
txt = 'A lot of Things each day'
ret1 = txt.upper()
ret2 = txt.lower()
print(ret1)
print(ret2)

A LOT OF THINGS EACH DAY
a lot of things each day

In [56]:
txt = '양쪽에 공백이 있는 문자열입니다.'
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()

print('<'+txt+'>')
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

<양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

In [57]:
numstr = input('숫자를 입력하세요')
try:
    num = int(numstr)
    print('당신이 입력한 숫자는 정수 <%d>입니다.'%num)
except:
    try:
        num = float(numstr)
        print('당신이 입력한 숫자는 실수 <%f>')
    except:
        print('+++ 숫자를 입력하세요~+++')

숫자를 입력하세요0
당신이 입력한 숫자는 정수 <0>입니다.

In [58]:
num1 = 1234
num2 = 3.14
numstr1 = str(num1)
numstr2 = str(num2)
print('num을 문자열을 변환하는 값은 "%s"입니다.'%numstr1)
print('num을 문자열을 변환하는 값은 "%s"입니다.'%numstr2)

num을 문자열을 변환하는 값은 "1234"입니다.
num을 문자열을 변환하는 값은 "3.14"입니다.

In [61]:
txt = 'A lot of things occur each day. every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')

print(word_count1)
print(word_count2)
print(word_count3)

3
2
8

In [62]:
txt = 'A lot of things occur each day. every day.'
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day',30)
print(offset1)
print(offset2)
print(offset3)

22
27
38

In [63]:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'


ret1 = url.split("/")
print(ret1)

ret2 = log.split()
for data in ret2:
    d1,d2 = data.split(':')
    print('%s -> %s'%(d1,d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선

In [64]:
loglist = ['2016/08/26 10:12:!1','200','OK','이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

2016/08/26 10:12:!1;200;OK;이 또한 지나가리라

In [65]:
txt = 'My password is 1234'
ret1 = txt.replace('1','0')
ret2 = txt.replace('1','python')
print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일', '항상')
ret4 = ret3.replace('일','사건')
print(ret3)
print(ret4)

My password is 0234
My password is python234
항상 많은 일들이 일어납니다.
항상 많은 사건들이 사건어납니다.

In [66]:
u_txt = 'I love python'
b_txt = u_txt.encode()
print(u_txt)
print(b_txt)

ret1 = 'I' == u_txt[0]
ret2 = 'I' == b_txt[0]
print(ret1)
print(ret2)

I love python
b'I love python'
True
False

In [67]:
b_txt = b'A lot of things occur each day.'
u_txt = b_txt.decode()
print(u_txt)

A lot of things occur each day.

In [74]:
strdata = input('정렬할 문자열을 입력하세요.')
ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse = True)
print(ret1)
print(ret2)

ret1 = "@".join(ret1)
ret2 = "".join(ret2)
print("오름차순으로 정렬된 문자열은 <" + ret1 + ">입니다.")

print("오름차순으로 정렬된 문자열은 <" + ret2 + ">입니다.")

정렬할 문자열을 입력하세요.qwdwqd
['d', 'd', 'q', 'q', 'w', 'w']
['w', 'w', 'q', 'q', 'd', 'd']
오름차순으로 정렬된 문자열은 <d@d@q@q@w@w>입니다.
오름차순으로 정렬된 문자열은 <wwqqdd>입니다.

In [75]:
range1 = range(10)
range2 = range(10,20)
print(list(range1))
print(list(range2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [76]:
listdata = [1,2,'a','b','c',[4,5,6]]
val1 = listdata[1]
val2= listdata[3]
val3 = listdata[5][1]
print(val1)
print(val2)
print(val3)

2
b
5

In [78]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','명왕성','지구']
planet = '지구'
pos = solarsys.index(planet)
print("%s은(는) 태양계에서 %d번째에 위치하고 있습니다."%(planet,pos))
pos = solarsys.index(planet,5)
print("%s은(는) 태양계에서 %d번째에 위치하고 있습니다."%(planet,pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다.
지구은(는) 태양계에서 9번째에 위치하고 있습니다.

In [79]:
planet = '화성'
pos = solarsys.index(planet)
solarsys[pos] ='Mars'
print(solarsys)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '명왕성', '지구']

In [80]:
rock_planets = solarsys[1:4]
gas_planets = solarsys[4:]
print('태양계의 암석형 행성:',end="");print(rock_planets)
print('태양계의 가스형 행성:',end="");print(gas_planets)

태양계의 암석형 행성:['수성', '금성', '지구']
태양계의 가스형 행성:['Mars', '목성', '토성', '천왕성', '명왕성', '지구']

In [82]:
listdata = list(range(1,21))
evenlist = listdata[1::2]
print(evenlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [83]:
oddlist = listdata[::2]
print(oddlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [84]:
listdata = list(range(5))
listdata.reverse()
print(listdata)

[4, 3, 2, 1, 0]

In [90]:
listdata = list(range(5))
ret1 = reversed(listdata)
print('원본리스트:',end="");print(listdata);
print("역순리스트",end="");print(list(ret1))

ret2 = listdata[::-1]
print("슬라이스 이용",end="");print(ret2)

원본리스트:[0, 1, 2, 3, 4]
역순리스트[4, 3, 2, 1, 0]
슬라이스 이용[4, 3, 2, 1, 0]

In [91]:
listdata1 = ['a','b','c','d','e']
listdata2 = ['f','g','h','i','j']
listdata3 = listdata1 + listdata2
listdata4 = listdata2 + listdata1
print(listdata3)
print(listdata4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

In [93]:
listdata = list(range(3))
ret = listdata*3
print(ret)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [94]:
listdata = []
for i in range(3):
    txt = input("리스트에 추가할 값을 입력하세요!!!(%d/3):"%(i+1))
    listdata.append(txt)
    print(listdata)

리스트에 추가할 값을 입력하세요!!!(1/3):232
['232']
리스트에 추가할 값을 입력하세요!!!(2/3):11
['232', '11']
리스트에 추가할 값을 입력하세요!!!(3/3):3
['232', '11', '3']

In [95]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
pos = solarsys.index("목성")
solarsys.insert(pos,"소행성")
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [97]:
del solarsys[0]
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

['화성', '소행성', '목성', '토성', '천왕성', '해왕성']
['화성', '소행성', '목성', '토성', '해왕성']

In [98]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
solarsys.remove("태양")
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [99]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
del solarsys[1:3]
print(solarsys)

['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [100]:
listdata = [2,2,1,3,8,5,7,6,3,6,2,3,9,4,4]
listsize = len(listdata)
print(listsize)

15

In [101]:
c1 = listdata.count(2)
c2 = listdata.count(7)
print(c1)
print(c2)

3
1

In [105]:
listdata = [2,2,1,3,8,5,7,6,3,6,2,3,9,4,4]
del listdata
print(listdata)

NameError: name 'listdata' is not defined